<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>sk-297e7c00d8964d229b9c43aa080f89b6</string>
	<key>BASE_URL</key>
	<string>https://api.deepseek.com</string>
	<key>MODEL</key>
	<string>deepseek-chat</string>
	<key>MAX_TOKENS</key>
	<integer>4000</integer>
	<key>TEMPERATURE</key>
	<real>0.7</real>
</dict>
</plist>
